<body>
<nav role='navigation'>
  <a data-page="home" class="active" href="#">Home</a>
  <a data-page="about" href="#">About</a>
  <a data-page="clients" href="#">Clients</a>
  <a data-page="contact" href="#">Contact</a>
</nav> 

<h1>Tuesday 28th July 2015 Design <span>Showing the effectiveness of the simple color change menu with the use of <strong>Flexbox</strong> and the <strong>:after pseudo element!</strong></span></h1>

 <div class="info">
   <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
   <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
   <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
   <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. </p>
   <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life </p>
   <p>One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
   <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli </p>
   <p> but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. </p>
   <p> When she reached the first hills of the Italic. </p>
  </div>
  
  <div class="more-info">
    <h2> More Dummy Text </h2>
   <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
   <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
   <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
   <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. </p>
   <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life </p>
   <p>One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
   <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli </p>
   <p> but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. </p>
   <p> When she reached the first hills of the Italic. </p>
  </div>
  
  <div class="footer">
    <p>Design by Richie McColl 2015</p>
    <div class="footer-social-icons">
    <p><a class="social foundicon-linkedin" href="https://uk.linkedin.com/pub/richie-mccoll/98/ab4/3b0"></a> <a class="social foundicon-instagram" href="whttps://www.instagram.com/richiemccoll"></a></p>
    </div>
  </div>
</body>