@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #3498db;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
body.home {
  background-color: #3498db;
}
body.about {
  background-color: #03A9F4;
}
body.clients {
  background-color: #00BCD4;
}
body.contact {
  background-color: #00ACC1;
}

strong {
  font-weight: 600;
}

h1 {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 3.5vh;
  font-weight: 100;
  text-align: center;
  font-size: 55px;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.1);
  padding: 0px 0 20px 0;
}
h1 span {
  font-weight: 400;
  display: block;
  font-size: 25%;
}

nav {
  display: flex;
  flex-direction: row;
}
nav a {
  width: 25%;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  margin: auto;
  /* Magic! */
  position: relative;
  color: rgba(255, 255, 255, 0.3);
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
nav a:hover, nav a.active {
  color: #fff;
}
nav a:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -4px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
  -o-transition: -o-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
  transition: transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
}
nav a.active:after {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.info
{
  margin-top: 3.5vh;
  color:#ededed;
  font-weight: 100;
  text-align: center;
  font-size: 17px;
  line-height: 1.5;
  background: rgba(0, 0, 1, 0.1);
  padding: 0px 0 20px 0;
}

.info span{
  font-weight: 400;
  display: block;
  font-size: 25%;
}

.footer {
  margin-top: 30vh;
  color:#ededed;
  text-align: center;
}

.footer-social-icons {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.footer-social-icons a {
  color:#ededed;
}

.footer-social-icons a:hover {
  color:#ededed;
}

.more-info
{
  margin-top: 3.5vh;
  color:#ededed;
  font-weight: 100;
  text-align: center;
  font-size: 17px;
  line-height: 1.5;
  background: rgba(0, 1, 1, 0.1);
  padding: 0px 0 20px 0;
}

.more-info span{
  font-weight: 400;
  display: block;
  font-size: 25%;
}
